[cbf_agent]
type = simulated_robot
data_type = numpy
# start_state = [0.0, 0.1, 2.0, 0.0, 0.0, 20.0, 20.0, 0.0, 0.0, -2.0]
; start_state = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -2.0]
start_state = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -2.0]
cost_evaluator = cbf_cost_evaluator
dynamics = sim_dynamics1
#dynamics = disturbed_sim_dynamics
steps_per_action = 1
controller = cbf_mppi_controller

[ncbf_agent]
type = simulated_robot
data_type = numpy
# start_state = [0.0, 0.1, 2.0, 0.0, 0.0, 20.0, 20.0, 0.0, 0.0, -2.0]
start_state = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -2.0]
cost_evaluator = ncbf_cost_evaluator
dynamics = sim_dynamics1
steps_per_action = 1
controller = ncbf_mppi_controller

[baseline_agent]
type = simulated_robot
data_type = numpy
# start_state = [0.0, 0.1, 2.0, 0.0, 0.0, 20.0, 20.0, 0.0, 0.0, -2.0]
start_state = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -2.0]
cost_evaluator = baseline_cost_evaluator
dynamics = sim_dynamics1
#dynamics = disturbed_sim_dynamics
steps_per_action = 1
controller = baseline_mppi_controller

#################################################################################
[logger]
type = Autorally_npz_logger
experiment_name = autorally
batch_code = 0
goal_checker = my_goal_checker_for_checking_vehicle_position
collision_checker = my_collision_checker_for_collision
num_states = 11

#################################################################################
[cbf_mppi_controller]
type = MPPI
dynamics = ctrl_dynamics1
cost_evaluator = cbf_cost_evaluator
control_dim = 2
inverse_temperature = 1
control_horizon = 20
repair_horizon = 4
;repair_steps = 0
repair_steps = 4
stochastic_trajectories_sampler = cbf_stochastic_trajectories_sampler
min_controls = [-1.0, -0.1]
max_controls = [1.0, 0.4]

[ncbf_mppi_controller]
type = MPPI
dynamics = ctrl_dynamics1
cost_evaluator = ncbf_cost_evaluator
control_dim = 2
inverse_temperature = 1
control_horizon = 20
repair_horizon = 4
repair_steps = 0
stochastic_trajectories_sampler = ncbf_stochastic_trajectories_sampler
min_controls = [-1.0, -0.1]
max_controls = [1.0, 0.4]

[baseline_mppi_controller]
type = MPPI
dynamics = ctrl_dynamics1
#dynamics = disturbed_ctrl_dynamics
cost_evaluator = baseline_cost_evaluator
control_dim = 2
inverse_temperature = 1
control_horizon = 20
stochastic_trajectories_sampler = baseline_stochastic_trajectories_sampler
min_controls = [-1.0, -0.1]
max_controls = [1.0, 0.4]

#################################################################################
[cbf_stochastic_trajectories_sampler]
type = MPPI_CBF_stochastic_trajectories_sampler
number_of_processes = 12
number_of_trajectories = 10000
uncontrolled_trajectories_portion = 0.0
noise_sampler = my_noise_sampler1

[ncbf_stochastic_trajectories_sampler]
type = MPPI_NCBF_stochastic_trajectories_sampler
number_of_trajectories = 10000
uncontrolled_trajectories_portion = 0.0
noise_sampler = my_noise_sampler1

[baseline_stochastic_trajectories_sampler]
type = MPPI_stochastic_trajectories_sampler
number_of_processes = 12
number_of_trajectories = 10000
uncontrolled_trajectories_portion = 0.0
noise_sampler = my_noise_sampler1

#################################################################################
[my_noise_sampler1]
type = gaussian_noise_sampler
mean = [0, 0]
covariance = [[1.0, 0], [0, 1.0]]
seed = 12345

#################################################################################
[disturbed_ctrl_dynamics]
type = autorally_dynamics_cartesian
state_dependent_noise = True
track_width_for_noise_covariance_change = 0.5
close_to_boundary_noise_covariance_multiplier = 3
noise_covariance = [0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.01, 0.01]
delta_t = 0.05
m = 21.7562
Iz = 1.124
lF = 0.34
lFR = 0.57
IwF = 0.1
IwR = 0.0373
rF = 0.095
rR = 0.090
h = 0.12
tire_B = 4.0
tire_C = 1.0
tire_D = 1.0
kSteering = -0.24
cSteering = -0.02
throttle_factor = 0.45
steering_factor = 1.0
friction_nn_path = ''
throttle_nn_path = environment/dynamics/autorally_dynamics/throttle_model1.pth
track_path = environment/dynamics/autorally_dynamics/ccrf_track_optimal.npz
throttle_nn_file_name = throttle_model1.pth
track_file_name = ccrf_track_optimal.npz

[disturbed_sim_dynamics]
type = autorally_dynamics_cartesian
state_dependent_noise = True
track_width_for_noise_covariance_change = 0.5
close_to_boundary_noise_covariance_multiplier = 3
noise_covariance = [0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.01, 0.01]
delta_t = 0.1
m = 21.7562
Iz = 1.124
lF = 0.34
lFR = 0.57
IwF = 0.1
IwR = 0.0373
rF = 0.095
rR = 0.090
h = 0.12
tire_B = 4.0
tire_C = 1.0
tire_D = 1.0
kSteering = -0.24
cSteering = -0.02
throttle_factor = 0.45
steering_factor = 1.0
friction_nn_path = ''
throttle_nn_path = environment/dynamics/autorally_dynamics/throttle_model1.pth
track_path = environment/dynamics/autorally_dynamics/ccrf_track_optimal.npz
throttle_nn_file_name = throttle_model1.pth
track_file_name = ccrf_track_optimal.npz

[ctrl_dynamics1]
type = autorally_dynamics_cartesian
delta_t = 0.05
m = 21.7562
Iz = 1.124
lF = 0.34
lFR = 0.57
IwF = 0.1
IwR = 0.0373
rF = 0.095
rR = 0.090
h = 0.12
tire_B = 4.0
tire_C = 1.0
tire_D = 1.0
kSteering = -0.24
cSteering = -0.02
throttle_factor = 0.45
steering_factor = 1.0
friction_nn_path = ''
throttle_nn_path = environment/dynamics/autorally_dynamics/throttle_model1.pth
track_path = environment/dynamics/autorally_dynamics/ccrf_track_optimal.npz
throttle_nn_file_name = throttle_model1.pth
track_file_name = ccrf_track_optimal.npz

[sim_dynamics1]
type = autorally_dynamics_cartesian
delta_t = 0.1
m = 21.7562
Iz = 1.124
lF = 0.34
lFR = 0.57
IwF = 0.1
IwR = 0.0373
rF = 0.095
rR = 0.090
h = 0.12
tire_B = 4.0
tire_C = 1.0
tire_D = 1.0
kSteering = -0.24
cSteering = -0.02
throttle_factor = 0.45
steering_factor = 1.0
friction_nn_path = ''
throttle_nn_path = environment/dynamics/autorally_dynamics/throttle_model1.pth
track_path = environment/dynamics/autorally_dynamics/ccrf_track_optimal.npz
throttle_nn_file_name = throttle_model1.pth
track_file_name = ccrf_track_optimal.npz
hybrid_nn = hybrid_net_ar2.pth
carsim_simfile = carsim_simfile.sim
carsim_dll = vs_solvers/Linux/CarSim/lib64/libcarsim.so.2020.1

#################################################################################
[cbf_cost_evaluator]
type = autorally_mppi_cbf_cost_evaluator
collision_cost = 1000
cbf_alpha = 0.9
barrier_net = my_barrier_net
Q = [3.0, 3.0, 0.1, 0.0, 0.0, 10.0, 20.0, 0.0]
QN = [30.0, 100.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0]
R = [5.0, 10.0]
goal_checker = my_goal_checker_for_tracking
collision_checker = my_collision_checker_for_collision

[my_barrier_net]
type = barrier_nn
collision_checker = my_collision_checker_for_collision
obstacles_cbf_coefficient = 1
obstacles = False

# ------------------------------------------------------------
[ncbf_cost_evaluator]
type = autorally_mppi_ncbf_cost_evaluator
collision_cost = 1000
Q = [3.0, 3.0, 0.1, 0.0, 0.0, 10.0, 20.0, 0.0]
QN = [30.0, 100.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0]
R = [5.0, 10.0]
goal_checker = my_goal_checker_for_tracking
collision_checker = my_collision_checker_for_collision

[baseline_cost_evaluator]
type = autorally_mppi_cost_evaluator
collision_cost = 1000
Q = [3.0, 3.0, 0.1, 0.0, 0.0, 10.0, 20.0, 0.0]
QN = [30.0, 100.0, 0.0, 0.0, 0.0, 1.0, 2.0, 0.0]
R = [5.0, 10.0]
goal_checker = my_goal_checker_for_tracking
collision_checker = my_collision_checker_for_collision

#################################################################################
[my_goal_checker_for_tracking]
type = autorally_cartesian_goal_checker
#goal_state = [50.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
goal_state = [40.0, 0.0, 0.0, 0.0, 0.0, 3.14, 0.0, 0.0]
goal_radius = 0

[my_goal_checker_for_checking_vehicle_position]
type = autorally_cartesian_goal_checker
; goal_state = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -2.0, -3.0]
; goal_radius = 2.0
goal_state = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 5.0, -3.0]
goal_radius = 2.0

[my_collision_checker_for_collision]
type = autorally_collision_checker
track_width = 1.5
obstacles = [[50.0, 0.0]]
obstacles_radius = [0.0]
;obstacles = [[8.0,-3.5], [12.0, -4.0]]
;obstacles_radius = [0.8, 0.8]
kinematics = my_kinematics1
dynamics = ctrl_dynamics1

[my_collision_checker_for_crash]
type = autorally_collision_checker
track_width = 2
obstacles = [[50.0, 0.0]]
obstacles_radius = [0.0]
;obstacles = [[8.0,-3.5], [12.0, -4.0]]
;obstacles_radius = [0.8, 0.8]
kinematics = my_kinematics1
dynamics = ctrl_dynamics1

[my_kinematics1]
type = point_kinematics
radius = 0.5

#################################################################################
[renderer1]
type = autorally_matplotlib
;trajectories_rendering = False
trajectories_rendering = True
path_rendering = True
xaxis_range = [-20, 40]
yaxis_range = [-50, 10]
figure_size = [9, 9]
figure_dpi = 81
auto_range = False
map_path = environment/dynamics/autorally_dynamics/CCRF_2021-01-10.npz
map_file = CCRF_2021-01-10.npz
track_file_name = ccrf_track_optimal.npz
track_widths = [1.5, 2.0]
